[{{ extension }}]
type=endpoint
context={{ context }}
disallow=all
allow={{ codecs }}
auth={{ extension }}
aors={{ extension }}
transport={{ transport }}
callerid="{{ display_name }}" <{{ extension }}>
direct_media=no
